<configuration>
    <appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %level %logger{35}: %message%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="stdoutAppender"/>
    </root>
</configuration>
